@font-face {
    font-family: Billabong;
    src: url(Billabong.ttf);
}

#brand_name_navbar{
    font-family: Billabong;
    font-size: 25px;
    color: black;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

#navbar_logo {
    width:24px;
    height:24px;
}

#search_bar{
    float: center;
}

.row{
    height: 77px;
}

.navbar {
      border-bottom: .1mm solid;
    border-color: silver;
}

#login_signup_button{
    float:right;
}
