@font-face {
    font-family: Billabong;
    src: url(Billabong.ttf);
}

#brand_name_navbar{
    font-family: Billabong;
}

#navbar_logo {
    width:24px;
    height:24px;
}

#search_bar{
    float: center;
}
